* {
    margin: 0;
    padding: 0;
}

body {
    background: #1C232D;
}

h2 {
    margin-left: 2%;
    color: #ecf0f1;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

h4 {
    margin-left: 2%;
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 25px;
    text-align: center;
}


/* header {
    width: 100%;
    color: black;
    background-color: white;
    font-family: 'Acme', sans-serif;
    align-items: center;
    text-align: center;
} */

.allPage {
    display: flex;
    margin-left: 3%;
    flex-direction: row-reverse;
    height: 100vh;
    width: 95%;
}

ul {
    margin-top: 3%;
    margin-bottom: 3%;
}

p {
    font-size: 22px;
}

ul li {
    cursor: pointer;
    width: 10vw;
    list-style: none;
    position: relative;
    padding: 25px 8px 12px 40px;
    background: #eee;
    font-size: 25px;
    transition: 0.2s;
    margin: 0 auto;
}

#myPic {
    /* padding: 10%; */
    width: 80%;
    background: #1C232D;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
circle{
  cursor: pointer;
}
svg {
    background: #ecf0f1;
    border-radius: 1%;
    height: auto;
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 1.5%;

}
.selected{
  border:2px dotted gray;
}
.paletteDiv {
    padding: 2%;
    width: 20%;
    background: #272F3D;
    margin-right: 2%;
}

.subBtn {
    margin-left: 1%;
    padding: 2px;
    background: #7f8c8d;
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    /* border-left: 3px solid #34495e; */
}

.subBtn:hover {
    background-color: #34495e;
}

#inputForm {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
}

#myInput {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    font-size: 18px;
}


/* .container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
} */

footer {
    width: 100%;
    color: black;
    background-color: white;
    font-family: 'Acme', sans-serif;
    align-items: center;
    text-align: center;
}

@media (max-width:780px) {
    svg {
        height: auto;
        width: 80%;
    }
    .paletteDiv{
      width: 100%;
    }
    .allPage{
      flex-direction:column-reverse;
      height: auto;
    }
    ul{
      display: flex;
        padding-right: 20px;
    }
    #myPic {
      width: 100%;
    }
}
