*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
svg{
  height : auto;
  width: 50%;
  margin: 0 auto;
  display: block;
}
circle{
  transition: all 1s;
}
circle:hover{
  cursor: pointer;
  width: 300px;
}
@media (max-width:600px) {
  svg{
    height : auto;
    width: 80%;
  }
}
